/* Resetting styles to prevent browser inconsistencies */
* {
  margin: 0;
  padding: 0;
}

/* Cursor */
.typed-cursor {
    font-size: 40px;
    font-weight: normal;
    padding-right: 25px;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*#particles-js {
    position: absolute;
    height: 100%;
    width: 100%;
}

#main {
    position: absolute;
    height: 100%;
    width: 50%;
    z-index: 9999;
    border: 1px solid red;
    margin: 0 auto;
}

#logo {
    padding: 5px;
    border: 1px solid red;
}

#name {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 60px;
    border: 1px solid red;
}

#typed {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    border: 1px solid red;
}

#links {
    padding-top: 70px;
    font-size: 25px;
    border: 1px solid red;
}

.spaced {
    padding: 15px;
}

.center {
    display: block;
    margin: 0 auto;
    text-align: center;
}*/

#main-container {
    /*position: absolute;*/
    height: 100%;
    display: flex;
    justify-content: center;
    /*border: 1px solid red;*/
}

#main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /*border: 1px solid blue;*/
    height: 90%;
    z-index: 9999;
}

#links-container {
    display: flex;
    justify-content: center;
    /*border: 1px solid red;*/
}

#links {
    width: 170px;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    /*border: 1px solid red;*/
}

#logo {
    display: flex;
    justify-content: center;
    height: 50%;
    padding-top: 15px;
    padding-bottom: 10px;
    /*border: 1px solid red;*/
}

#name {
    display: flex;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 60px;
    /*border: 1px solid red;*/
}

#typed-strings {
    display: flex;
    justify-content: center;
    margin: 5px;
}

#typed-container {
    display: flex;
    justify-content: center;
  /*  border: 1px solid red;*/
    margin: 5px;
}

#typed {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    padding-right: 0;
    /*border: 2px solid green;*/
}

a:link, a:visited {
    color: #000000;
}

a:hover {
    color: orange;
}

#particles-js {
    position: absolute;
    height: 100%;
    width: 100%;
}

html, body {
    background-color: #EFDACA;
    height: 100%;
}